@use '../util'; /*Path from this folder to the folder with fonts
@use '../util' as *; with this you're able not to specify the folder name of the variable
*/
body {
    font-family: util.$font; /*The name of the folder used with the variable (so, you can use the same variable name in other folders)*/
    background-color: var(--background-color);
    color: var(--color);
    margin: 0;
    padding: 0;

    /*display: grid; or "flex" 
    justify-content: center; if we don't use margin-inline (reference to _grid.scss)*/

    //font-size: 1.5em; //depends on a parent (in this case the default font size of a browser)
}
/*SASS PARTIALS*/
html {
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before, *::after {
    box-sizing: inherit; /*Inherits the same value for this property from the <html>*/
}