.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}
.card .cardImage {
    max-width: 100%;
}
.card .cardTitle {
    font-family: Arial, sans-serif;
    margin: 0;
    color: hsl(233, 72%, 36%);
    font-size: 1.2rem;
}
.card .cardText {
    font-family: Arial, sans-serif;
    color: hsl(233, 72%, 46%);
}